

  <!-- Header
  ============================================= -->
  <header id="header">
    <div id="header-wrap">
      <div class="container clearfix">

        <div id="primary-menu-trigger">
          <i class="fa fa-reorder"></i>
        </div>

        <!-- Logo
        ============================================= -->
        <div id="logo">
          <a href="#/" class="standard-logo" data-dark-logo="../../../assets/images/logo/LOGO2-2x.png" data-sticky-logo="../../../assets/images/logo/LOGO2-145x60.png"><img src="../../../assets/images/logo/LOGO2-2x.png" alt="INASEL Logo"></a>
          <a href="#/" class="retina-logo" data-dark-logo="../../../assets/images/logo/LOGO2-2x.png"><img src="../../../assets/images/logo/LOGO2-2x.png" alt="INASEL Logo"></a>
        </div><!-- #logo end -->

        <nav id="primary-menu">
          <ul>
            <li><a href="#/"><div>Inicio</div></a></li>
            <li><a><div>Empresa</div></a>
              <div class="mega-menu-content style-6 col-1 clearfix">
                <ul class="md-4 dropdown-menu">
                  <li><a href="#/nosotros"><div>Acerca de Nosotros</div></a></li>
                  <li><a href="#/certificaciones"><div>Certificaciones</div></a></li>
                </ul>
              </div>
            </li>
            <li><a href="#/proyectos"><div>Proyectos</div></a></li>
            <li><a href="#/servicios"><div>Servicios</div></a></li>
            <li><a href="#/productos"><div>Productos</div></a></li>
            <li><a href="#/noticias"><div>Noticias</div></a></li>
            <li class="current"><a href="#/contacto"><div>Contacto</div></a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header> <!-- #header end -->

  <div class="clear"></div>

  <!-- Page Title
  ============================================= -->
  <section id="page-title">

      <div class="container clearfix">
          <h1>Contacto</h1>
          <span>Nuestras Oficinas</span>
      </div>

  </section><!-- #page-title end -->

  <div class="container">

  <!-- Google Map
  ============================================= -->
  <div class="topmargin-sm nobottommargin">

    <section id="google-map" class="gmap slider-parallax">
      <ng-map center="[-0.1869, -78.4928]" zoom-to-inlude-markers="true" zoom="17" scrollwheel="false" style="display:block; height:450px;">
        <marker position="[-0.1869, -78.4928]" draggable="false"></marker>
      </ng-map>
    </section>

  </div>


  <!-- Content
  ============================================= -->
  <section id="content">

    <div class="content-wrap">

      <div class="container clearfix">

        <!-- Postcontent
        ============================================= -->
        <div class="postcontent nobottommargin">

          <h3>Envíanos un Mensaje</h3>

          <form class="nobottommargin" name="userForm" ng-submit="submitForm(userForm.$valid)" novalidate>

            <div class="col_one_third form-group">
              <label>Nombre <small>*</small></label>
              <input type="text" name="fname" value="" class="form-control" ng-model="mensaje.nombre" required />
              <p ng-show="userForm.fname.$invalid && !userForm.name.$pristine" class="help-block">Nombre incorrecto.</p>
            </div>

            <div class="col_one_third form-group">
              <label>Email <small>*</small></label>
              <input type="email" name="femail" value="" class="email form-control" ng-model="mensaje.email" required />
              <p ng-show="userForm.femail.$invalid && !userForm.femail.$pristine" class="help-block">Email incorrecto.</p>
            </div>

            <div class="col_one_third col_last form-group">
              <label>Teléfono</label>
              <input type="text" name="ftelefono" value="" class="form-control" ng-model="mensaje.telefono" required/>
              <p ng-show="userForm.ftelefono.$invalid && !userForm.ftelefono.$pristine" class="help-block">Telefono incorrecto.</p>
            </div>

            <div class="clear"></div>

            <div class="col_two_third form-group">
              <label>TITULO <small>*</small></label>
              <input type="text" name="ftitulo" value="" class="form-control" ng-model="mensaje.titulo" required />
              <p ng-show="userForm.ftitulo.$invalid && !userForm.ftitulo.$pristine" class="help-block">Titulo incorrecto.</p>
            </div>

            <div class="clear"></div>

            <div class="col_full form-group">
              <label>Mensaje <small>*</small></label>
              <textarea class="form-control" name="fmensaje" rows="6" cols="30" ng-model="mensaje.msg" required></textarea>
              <p ng-show="userForm.fmensaje.$invalid && !userForm.fmensaje.$pristine" class="help-block">Mensaje incorrecto.</p>
            </div>


            <h5 id="envioExitoso" class="form-control hidden">Mensaje Enviado Exitosamente</h5>

            <button id="enviarBtn" class="button button-3d btn-primary nomargin" type="submit" ng-disabled="userForm.$invalid">ENVIAR MENSAJE</button>

          </form>

          <!-- <script type="text/javascript">

            $("#template-contactform").validate({
              submitHandler: function(form) {
                $('.form-process').fadeIn();
                $(form).ajaxSubmit({
                  target: '#contact-form-result',
                  success: function() {
                    $('.form-process').fadeOut();
                    $(form).find('.sm-form-control').val('');
                    $('#contact-form-result').attr('data-notify-msg', $('#contact-form-result').html()).html('');
                    SEMICOLON.widget.notifications($('#contact-form-result'));
                  }
                });
              }
            });

          </script> -->

        </div><!-- .postcontent end -->

        <!-- Sidebar
        ============================================= -->
        <div class="sidebar col_last">

          <address>
            <strong>Oficinas:</strong><br>
            Jorge Juan N32-24 y Mariana de Jesus<br>
            Quito - Ecuador<br>
          </address>
          <abbr title="Phone Number"><strong>Telefono:</strong></abbr> (593) 22504423 / 22565487<br>
          <abbr title="Fax"><strong>Fax:</strong></abbr> (593) 22905464<br>
          <abbr title="Email Address"><strong>Email:</strong></abbr> inasel@inaselecuador.com

          <div class="widget noborder notoppadding">

            <a href="https://www.facebook.com/Inasel-Ecuador-759257844196776/" class="social-icon si-small si-dark si-facebook">
              <i class="fa fa-facebook fa-2x"></i>
              <i class="fa fa-facebook fa-2x"></i>
            </a>

            <a href="https://www.youtube.com/channel/UCFyFWrsODBp7BcJEt8Y06kQ" class="social-icon si-small si-dark si-youtube">
              <i class="fa fa-youtube fa-2x"></i>
              <i class="fa fa-youtube fa-2x"></i>
            </a>

          </div>

        </div><!-- .sidebar end -->

      </div>

    </div>

  </section><!-- #content end -->

</div>
<!-- <inasel-footer></inasel-footer> -->
