<div class="container">

  <!-- Header
  ============================================= -->
  <header id="header" class="transparent-header">
    <div id="header-wrap">
      <div class="container clearfix">

        <div id="primary-menu-trigger">
          <i class="fa fa-reorder"></i>
        </div>

        <!-- Logo
        ============================================= -->
        <div id="logo">
          <a href="#/" class="standard-logo" data-dark-logo="../../../assets/images/logo/LOGO2-2x.png"><img src="../../../assets/images/logo/LOGO2-2x.png" height="100" width="240" alt="INASEL Logo"></a>
          <a href="#/" class="retina-logo" data-dark-logo="../../../assets/images/logo/LOGO2-2x.png"><img src="../../../assets/images/logo/LOGO2-2x.png" alt="INASEL Logo"></a>
        </div><!-- #logo end -->

        <nav id="primary-menu">
          <ul>
            <li><a href="#/"><div>Inicio</div></a></li>
            <li><a><div>Empresa</div></a>
              <div class="mega-menu-content style-6 col-1 clearfix">
                <ul class="md-4 dropdown-menu">
                  <li><a href="#/nosotros"><div>Acerca de Nosotros</div></a></li>
                  <li><a href="#/certificaciones"><div>Ceritficaciones</div></a></li>
                </ul>
              </div>
            </li>
            <li><a href="#/proyectos"><div>Proyectos</div></a></li>
            <li><a href="#/servicios"><div>Servicios</div></a></li>
            <li class="current"><a href="#/productos"><div>Productos</div></a></li>
            <li><a href="#/noticias"><div>Noticias</div></a></li>
            <li><a href="#/contacto"><div>Contacto</div></a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header> <!-- #header end -->

  <div class="clear"></div>

  <!-- Page Title
  ============================================= -->
  <section id="page-title">

      <div class="container clearfix">
          <h1>Productos</h1>
          <span>Descripcion de productos</span>
      </div>

  </section><!-- #page-title end -->

  <!-- Content
  ============================================= -->
  <section id="content">

      <div class="content-wrap">

          <div class="container clearfix">

              <!-- Portfolio Filter
              ============================================= -->
              <ul id="portfolio-filter" class="clearfix">

                  <li class="activeFilter"><a href="#" data-filter="*">Mostrar Todos</a></li>
                  <li><a href="#" data-filter=".pf-icons">Cat 1</a></li>
                  <li><a href="#" data-filter=".pf-illustrations">Cat 2</a></li>
                  <li><a href="#" data-filter=".pf-uielements">Cat 3</a></li>
                  <li><a href="#" data-filter=".pf-media">Cat 4</a></li>
                  <li><a href="#" data-filter=".pf-graphics">Cat 5</a></li>

              </ul><!-- #portfolio-filter end -->

              <div class="clear"></div>

              <!-- Portfolio Items
              ============================================= -->
              <div id="portfolio" class="portfolio-3 clearfix">

                  <article class="portfolio-item pf-media pf-icons animated fadeInUp" ng-repeat="item in lista">
                      <div class="portfolio-image">
                          <a href="portfolio-single.html">
                              <img src="{{item.img_path}}" alt="{{item.titulo}}">
                          </a>
                          <div class="portfolio-overlay">
                              <a href="#/productos/{{item.idProducto}}" class="center-icon" data-lightbox="image"><i class="fa fa-plus"></i></a>
                              <!-- <a href="#/productos" class="right-icon"><i class="fa fa-ellipsis-h"></i></a> -->
                          </div>
                      </div>
                      <div class="portfolio-desc">
                          <h3><a href="portfolio-single.html">{{item.titulo}}</a></h3>
                          <span><a href="#">{{item.categoria}}</a></span>
                      </div>
                  </article>

              </div><!-- #portfolio end -->

          </div>

      </div>

  </section><!-- #content end -->

</div>
<!-- Footer
============================================= -->
<footer id="footer" class="topmargin-sm">

    <div class="container">

        <!-- Footer Widgets
        ============================================= -->
        <div class="footer-widgets-wrap clearfix">

            <div class="row">
                
                <div class="col-md-5">

                    <div class="widget clearfix">

                        <img src="../../../assets/images/logo/LOGO2-FOOTER.png" alt="" class="footer-logo">

                        <h3><strong>Automatizando</strong> al país del mañana.</h3>

                        <div class="clearfix" style="padding: 10px 0;">
                            <div class="col-md-12">
                                <address class="nobottommargin">
                                    <i class="fa fa-map-marker fa-lg fa-fw"></i>
                                    Jorge Juan XXX y Mariana de Jesús<br>
                                </address>
                                <i class="fa fa-phone-square fa-lg fa-fw"></i> (593) 8547 632521<br>
                                <i class="fa fa-envelope fa-lg fa-fw"></i> inasel@inaselecuador.com
                            </div>
                        </div>

                    </div>

                </div>

                <div class="col-md-7">
              <div class="row">
                    <div class="col-md-6">

                        <div class="widget clearfix">
                            <h4>Noticias Recientes</h4>

                            <div id="post-list-footer">
                                <div class="spost clearfix" ng-repeat="noticia in noticias">
                                    <!-- <div class="entry-image hidden-sm">
                                        <a href="#"><img class="img-circle" src="../../../assets/images/100x100.jpg" alt=""></a>
                                    </div> -->
                                    <div class="entry-c">
                                        <div class="entry-title">
                                            <h4><a href="#">{{noticia.titulo}}</a></h4>
                                        </div>
                                        <ul class="entry-meta">
                                            <li>{{noticia.fecha}}</li>
                                        </ul>
                                    </div>
                                </div>

                            </div>

                        </div>


                        <div class="widget clearfix">

                            <h4>SÍGUENOS EN</h4>

                            <a href="https://www.facebook.com/Inasel-Ecuador-759257844196776/" class="social-icon si-rounded si-facebook">
                                <i class="fa fa-facebook"></i>
                                <i class="fa fa-facebook"></i>
                            </a>

                            <a href="https://www.youtube.com/channel/UCFyFWrsODBp7BcJEt8Y06kQ" class="social-icon si-rounded si-youtube">
                                <i class="fa fa-youtube"></i>
                                <i class="fa fa-youtube"></i>
                            </a>
                        </div>
                      

                    </div>

                    <div class="col-md-6">

                        <div class="widget quick-contact-widget clearfix">

                            <h4>SUSCRÍBETE</h4>

                            <div id="quick-contact-form-result" data-notify-type="success" data-notify-msg="<i class=icon-ok-sign></i> Message Sent Successfully!"></div>

                            <form id="quick-contact-form" name="quick-contact-form" action="include/quickcontact.php" method="post" class="quick-contact-form nobottommargin">

                                <div class="form-process"></div>

                                <div class="input-group divcenter">
                                    <span class="input-group-addon"><i class="icon-user"></i></span>
                                    <input type="text" class="required form-control input-block-level" id="quick-contact-form-name" name="quick-contact-form-name" value="" placeholder="Nombre Completo" />
                                </div>
                                <div class="input-group divcenter">
                                    <span class="input-group-addon"><i class="icon-email2"></i></span>
                                    <input type="text" class="required form-control email input-block-level" id="quick-contact-form-email" name="quick-contact-form-email" value="" placeholder="Correo Electronico" />
                                </div>
                                <textarea class="required form-control input-block-level short-textarea" id="quick-contact-form-message" name="quick-contact-form-message" rows="4" cols="30" placeholder="Aprende acerca de nuestras mejoras prácticas, nuevas soluciones y ofertas"></textarea>
                                <input type="text" class="hidden" id="quick-contact-form-botcheck" name="quick-contact-form-botcheck" value="" />

                          
                                <button type="submit" id="quick-contact-form-submit" name="quick-contact-form-submit" class="btn btn-danger nomargin" value="submit">OK</button>
                                
                                

                            </form>

                        </div>
                    </div>
                  </div>
                </div>

            </div>

        </div><!-- .footer-widgets-wrap end -->

    </div>

    <!-- Copyrights
    ============================================= -->
    <div id="copyrights">

        <div class="container clearfix">

            <div class="col-md-12 nobottommargin center">
                <div class="copyrights-menu copyright-links clearfix">
                    <a href="#/">Inicio</a>/<a href="#/empresa">Empresa</a>/<a href="#/proyectos">Proyectos</a>/<a href="#/servicios">Servicios</a>/<a href="#/productos">Productos</a>/<a href="#/noticias">Noticias</a>/<a href="#/contacto">Contacto</a>
                </div>
                Todos los derechos reservados &copy; 2015 All Rights Reserved by GuaytamboSoft.
            </div>

        </div>

    </div><!-- #copyrights end -->

</footer><!-- #footer end -->
